:root {
    --blue: #092B40;
    --light_gray: #696969;
    --gray: #3a3e43;
    --orange: #c96700;
    --white: #f0f0f0;
    --off_white: #d6d6d6;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 92px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8px;
    display: block;
    background-image: url("travel_pictures/background.jpg");
    background-size: contain;
    background-blend-mode: darken;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--orange);
    color: var(--white);
}


h1 {
    margin: 5px;
}

h2, p {
    margin:0;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--orange);
}
  
#navbar li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: var(--light_gray);
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 104px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    background-color: var(--blue);
    color: var(--off_white);
    padding: 1.5px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content a:hover {
    color: var(--blue);
    background-color: var(--off_white);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#travel-story , #gallery-info {
    color: var(--white);
    margin-top: 120px;
    background-color: var(--blue);
    border-radius: 10px;
    padding: 10px;
}

#gallery-info {
 margin-top: 50px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery-day-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1500px;
    padding: 20px 10px;
}

.img-container {
    color: var(--white);
    padding: 8px;
    background-color: var(--blue);
    border-radius: 10px;
}

.travel-images {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    opacity: .8;
    transition: ease-in-out .5s;
}

.hover {
    color: var(--blue);
    transition: ease-in-out .5s;
    font-weight: bold;
}
.img-container:hover .travel-images {
    opacity: 1;
    cursor: pointer;
}

.img-container:hover .hover {
    color: var(--orange);
}

.bold {
    font-weight: bold;
    font-size: large;
}

#travel-blog h2 {
    color: var(--white);
    background-color: var(--blue);
    border-radius: 10px;
}
  
#blog-list li {
    color: var(--white);
    list-style: none;
    background-color: var(--blue);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
    padding: 5px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.8);
}

#modalImg {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#modalInfo {
    margin: 10px auto 0 auto;
    display: block;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    color: var(--off_white);
    height: 150px;
}

#modalImg, #modalInfo {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#close:hover, #close:focus {
    color: var(--orange);
    text-decoration: none;
    cursor: pointer;
}



footer {
    background-color: var(--orange);
    color: var(--white);
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 100px;
}
  
footer p {
    margin: 10px;
    font-size: 20px;
}

#contact-links {
    margin:20px;
    text-decoration: none;
}

footer a:link {
    font-size: 25px;
    margin: 20px 15px;
    color: var(--white);
    text-decoration: none;
    transition: 0.5s ease-out;
}

footer a:visited {
    color:var(--white);
}

footer .hover {
    color: var(--orange);
    text-shadow: none;
}

footer a:hover {
    text-shadow: 3px 3px 2px var(--light_gray);
}

footer a:hover .hover{
    color: var(--blue);
    text-shadow: 3px 3px 2px var(--light_gray);
}

/* @media screen and (mmin-width: 390px) {
    #travel-story {
        margin-top: 160px;
    }
     html {
        scroll-padding-top: 140px;
     }
     .dropdown-content a {
        font-size: 11px;
        padding: 1.5px 14px;
    }
    li a, .dropbtn {
        font-size: 14px;
        padding: 12px 10px;
    }
} */

@media only screen and (max-width: 750px) {
    #modalImg {
        width: 100%;
    }
    #travel-story {
        margin-top: 160px;
    }
     html {
        scroll-padding-top: 140px;
     }
     .dropdown-content a {
        font-size: 11px;
        padding: 1.5px 14px;
    }
    li a, .dropbtn {
        font-size: 14px;
        padding: 12px 10px;
    }
}